<a href="https://colab.research.google.com/github/brunobro/como-exportar-um-dataframe-do-pandas-para-uma-tabela-do-ms-word/blob/main/MI_Salvar_DataFrame_como_arquivo_Word.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Como exportar um DataFrame do Pandas para uma Tabela do MS Word**


**Algumas utilidades:**

*  Formatar as Tabelas de modo personalizável
*  Aprovietar as informações para outros projetos
*  Para compor trabalho/pesquisa científica
*  Compartilhar os dados do DataFrame com não especialistas


**Bibliotecas necessárias:**

In [1]:
#Biblioteca Pandas
import pandas as pd

In [ ]:
#Biblioteca Python-Docx
#Documentação: https://python-docx.readthedocs.io/en/latest/
!pip install python-docx

import docx
from docx.shared import Pt
from docx.enum.table import WD_TABLE_ALIGNMENT, WD_ALIGN_VERTICAL

In [8]:
#Faz a leitura da base de dados Iris
DATAFRAME = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

#Exibe algumas linhas da tabela de dados
DATAFRAME

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
'''
Exporta o DataFrame como um documento .docx (MS Word)
'''

#Abre um documento
doc = docx.Document()

#Obtém o número de linhas e colunas que a tabela deverá ter
n_rows = DATAFRAME.shape[0]
n_cols = DATAFRAME.shape[1]

#Adiciona uma tabela ao documento
#com n_rows linhas e n_cols colunas
table = doc.add_table(rows=n_rows, cols=n_cols)

#Itera pelos dados do DataFrame e insere as celúlas com o conteúdo
for col_ins, col_label in enumerate(DATAFRAME):
    # col_ins:   número da coluna
    # col_label: rótulo da colua

    for row_ins in range(n_rows):

        #Insere o conteúdo na célula, com linha row_ins e coluna col_ins
        cell_ = table.cell(row_ins, col_ins)

        if row_ins == 0:
            #Adiciona o cabeçalho da tabela
            cell_.text = DATAFRAME.columns[col_ins]
        else:
            #Adiciona os dados da tabela
            cell_.text = str(DATAFRAME[col_label][row_ins])

#Salva o documento
doc.save('teste0.docx')

In [9]:
'''
Exporta o DataFrame como um documento .docx (MS Word) e aplica algumas formações
e inserção de texto adicional
'''

#Abre um documento
doc = docx.Document()

########## Opcional - Sem relação direta com a tabela ##############

sec    = doc.sections[0] #Pega a primeira seção do documento
header = sec.header      #Intância do cabeçalho
footer = sec.footer      #Instância do rodapé

header.paragraphs[0].text = 'Informações do cabeçalho' #texto do cabeçalho
footer.paragraphs[0].text = 'Informações do rodapé'    #texto do rodapé

#Adiciona um título
doc.add_heading('Tabela proveniente de um DataFrame', 1)

#Adiciona um parágrafo com um texto descritivo
doc.add_paragraph('Esta Tabela representa os dados da base de dados Iris.\n\n')

####################################################################

#Obtém o número de linhas e colunas que a tabela deverá ter
n_rows = DATAFRAME.shape[0]
n_cols = DATAFRAME.shape[1]

#Adiciona uma tabela ao documento
#com n_rows linhas e n_cols colunas
table = doc.add_table(rows=n_rows, cols=n_cols)

######################## Opcional - Relativo à formatação ################################

table.alignment = WD_TABLE_ALIGNMENT.CENTER #alinhamento da tabela na página
table.autofit   = True                      #autoajuste da coluna

##########################################################################################

#Itera pelos dados do DataFrame e insere as celúlas com o conteúdo
for col_ins, col_label in enumerate(DATAFRAME):
    # col_ins:   número da coluna
    # col_label: rótulo da colua

    for row_ins in range(n_rows):

        #Insere o conteúdo na célula, com linha row_ins e coluna col_ins
        cell_ = table.cell(row_ins, col_ins)
        
        if row_ins == 0:
            #Adiciona o cabeçalho da tabela
            cell_.text = DATAFRAME.columns[col_ins]
        else:
            #Adiciona os dados da tabela
            cell_.text = str(DATAFRAME[col_label][row_ins])

        ######################## Opcional - Relativo à formatação ################################

        cell_.vertical_alignment = WD_ALIGN_VERTICAL.CENTER #alinhamento vertical da célula
        cell_.width              = 100                      #largura, é afetado por table.autofit

        ##########################################################################################

#Salva o documento
doc.save('teste1.docx')